<div class="row justify-content-start">
	<h1 class="text-center col-12">Servicios</h1>
	<nav class="navbar navbar-expand navbar-light bg-light mb-4 col-12">
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" [routerLink]="['/']" routerLinkActive="active"
						[routerLinkActiveOptions]="{exact: true}">Todos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="['/categoria', 'autos']" routerLinkActive="active">Autos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="['/categoria', 'salud']" routerLinkActive="active">Salud</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="['/categoria', 'hogar']" routerLinkActive="active">Hogar</a>
				</li>

			</ul>
		</div>
	</nav>
	<div class="col-md-8">
		<div class="row">
			<app-list-servicio *ngFor="let servicio of servicios" [servicio]="servicio"
				class="col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-3">
			</app-list-servicio>
		</div>

	</div>
	<div class="col-md-4">
		<app-formulario-servicio></app-formulario-servicio>
	</div>
</div>